/* Inter Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color:#fff;
}
/* share style */
body{
    background-color: #000000;
}
.btn-active{
    border-radius: 46px;
    background: #E6533C;
    padding: 8px 20px;
}
.btn-primary{
    border-radius: 46px;
    background: #E6533C;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
}
.btn-secondary{
    border-radius: 46px;
    border: 1px solid #fff;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 600;
    background: none;
}
.d-flex{
    display: flex;
}
section{
    margin-top: 100px;
}
.section-header{
    text-align: center;
}
.section-title{
    font-size: 48px;
    font-weight: 900;
}
.section-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 14px;
}
/* share style end*/

/* header style start */
/* navbar start */
header{
    padding: 50px 12%;
    background-color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.8), rgba(119, 119, 119, 0) 100%);
}
/* main{
    padding: 0 12%;
} */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    display: none;
}
.nav-title{
    color: #E6533C;
    font-style: italic;
    font-size: 38px;
    font-weight: 800;
}
.nav-items{
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding:13px 4px;
    border-radius: 39px;
}
.nav-link{
    text-decoration: none;
    margin-left: 47px;
    padding: 8px 20px;
}
li:first-of-type .nav-link {
    margin-left: 0;
}
/* navbar end */
/* banner start */
.banner{
    justify-content: space-between;
    align-items: center;
    background: none;
}
.banner-content{
    width: 50%;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    max-width: 600px;
}
.banner-title span{
    font-family: "Allura", cursive;
    font-size: 100px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
}
.banner-description{
    margin: 28px 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
.banner-btn .btn-secondary{
    margin-left: 30px;
}
.banner-img{
    width: 22%;
}
.banner-img img{
    /* background-image: cover; */
    background-repeat: no-repeat;
    width: 50%;
}
.banner-container {
    position: relative;
    display: inline-block;
}

.banner-img {
    display: block;
    width: 100%; 
    height: auto;
    margin-right: 100px;
}

.count-item {
    position: absolute;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    padding: 16px 24px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.count-item.top-right {
    top: 160px;
    right: 10px;
    text-align: left;
}

.count-item.bottom-left {
    bottom: 77px;
    left: -60px;
    text-align: left; 
    display: flex;
    align-items: center;

}
.count-icon{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E6533C;
    margin-right: 10px;
}

.count-title {
    font-size: 24px;
    margin: 0;
}

.count-description {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    }
/* habits start */
.habits{
    margin-top: 54px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 12%;
}
.habit-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.habit-item img{
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.4);
    width: 70%;
}
.habit-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-top: 30px;
}
.habits-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 10%;
    color: rgba(255, 255, 255, 0.5);
    max-width: 260px;
    text-align: center;
    margin-top: 10px;
}
/* habits end */
/* header style end */
/* run extra part start */
.run-extra-section{
    padding: 0 12%;
}
.run-extra{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.run-content{
    width: 60%;
}
.run-title{
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
}
.run-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 480px;
    margin-top: 14px;
    margin-bottom: 34px;
}
.run-img{
    width: 40%;
}
.run-img img{
    margin-left: 10%;
    width: 90%;
}
/* run extra part end */
/* BMI Calculation part start */
.bmi-header{
    margin-top: 100px;
    text-align: left;
    margin-left: 450px;

}

.bmi-header .section-description {
    max-width: 640px;
}
.bmi-calculation{
    background: #222222;
    padding: 52px 12%;
    margin-top: 100px;
}
.bmi-chart{
    width: 50%;
}
.bmi-chart .chart-title{
    margin-bottom: 52px;
}
.bmi-chart table{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;

}
.bmi-chart table th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 43px;
}
.bmi-chart table td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-calculator{
    width: 50%;
}
.bmi-calculator .section-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 44px;
}
.bmi-calculator {

}

.chart-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-description {
    margin-bottom: 20px;
    font-size: 16px;
}

.bmi-form {

}
.input-box{
    display: flex;
}
.input-box input{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 16px 25px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50%;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
}
.input-box select{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 16px 25px;
    font-size: 16px;
    font-weight: 200;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 50%;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
}
.input-box .activity{
   width: 100%;
}



/* BMI Calculation part end */
/* out team start */
.our-team{
    padding: 0 12%;
}
.section-head{
    text-align: center;
    max-width: 530px;
}
.team-persons{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 750px;
    margin-top: 58px;
}
.person{
    position: relative;
    height: 350px;
}
.person img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.person-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.person-desgnation{
    color: rgba(255, 255, 255, 0.5);
}
/* out team end */

/* footer */
.footer{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
    padding: 66px 12% 35px;
}
.footer-left{
    width: 40%;
}
.footer-logo{
    font-style: italic;
    font-size: 70px;
    font-weight: 800;
    color:#E6533C;
    margin-bottom: 20px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
}
.footer-right{
    width: 60%;
    justify-content: space-between;
    margin-bottom: 78px;
}
.left-links{
    width: 50%;
    margin-left: 80px;
}
.right-links{
    width: 50%;
}
.links{
    margin-top: 40px;
}
.links li{
    list-style: none;
    margin-bottom: 20px;
}
.links li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.footer-hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}
.copyright p{
    margin-top: 35px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}



/* responsive part start */

@media screen and (max-width: 576px) {
    /* responsive nav start */
    .header{
        padding: 36px 6%;    
    }
    .nav-icon{
        display: block;
    }
    .nav-items{
        display: none;
    }
    /* responsive nav end */
    /* responsive banner start */
    .banner-title{

    }
    .banner{
        flex-direction: column;
        margin-top: 50px;

    }
    .banner-content{
        margin-left: 0;
        width: 100%;
    }
    .banner-container{
        margin-top: 50px;
    }
    .banner-title{
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        max-width: 250px;
    }
    .banner-title span{
        font-family: "Allura", cursive;
        font-size: 36px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
    }
    .banner-description{
        margin: 28px 0;
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
    .banner-btn{
        display: flex;
        
    }
    .banner-btn .btn-secondary{
        margin-left: 10px;
        font-size: 18px;
        font-weight: 600;
        padding: 10px 30px;
    }
    .banner-btn .btn-primary{
        font-size: 18px;
        font-weight: 600;
        padding: 10px 30px;
    }
    .banner-container .top-right{
        top: 19px;
        right: -15px;
        text-align: left;
    }
    .banner-container .bottom-left{
        bottom: 200px;
        left: -5px;
    }
    /* responsive habits start */
    .habits-part{
        margin-top: 30px;
    }
    .habits-part .section-header{
        padding: 0 8%;
    }
    .habits-part .section-title{
        font-size: 32px;
        font-weight: 900;
    }
    .habits {
        grid-template-columns: 1fr; 
        padding: 0 5%; 
    }

    .habit-item img {
        width: 50%; 
    }

    .habit-title {
        font-size: 18px; 
        margin-top: 20px; 
    }

    .habits-description {
        font-size: 14px; 
        margin-top: 8px; 
        max-width: 50%; 
    }

    .habits {
        grid-gap: 15px; 
    }
    /* responsive habits end */
    /* responsive run-extra start */
    .run-extra-section{
        padding: 0 8%;
    }
    .run-extra{
        border-radius: 18px;
        background: rgb(34, 34, 34);
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .run-content{
        width: 100%;
    }
    .run-title{
        font-size: 32px;
        font-weight: 900;
        max-width: 200px;
    }
    .run-description{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: rgba(255, 255, 255, 0.5);
        max-width: 480px;
        margin-top: 14px;
        margin-bottom: 34px;
    }
    .run-content .btn-primary{
        width: 100%;
        margin-bottom: 24px;
    }
    .run-img{
        width: 100%;
    }
    .run-img img{
        /* margin-left: 10%; */
        width: 100%;
        margin: 0;
    }
    /* responsive run-extra end */
}
